* {
  /* font-family: 'Monoton', cursive; */
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}


h1 {
  color: SeaGreen;
}


p,
li {
  font-size: 18px;
}


a {
  text-decoration: none;
}


/* Navbar */
/* Bootstrap Overrides */

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: #399bd1;
}
