html {
  /* font-family: 'Monoton', cursive; */

  font-size: 14px;
}

body{
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
}

img {
  width: 100%;
}

/* Navbar */
/* Bootstrap Overrides */

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: #399bd1;
}

.navbar {
  font-size: 1.1rem;
  font-weight: 600;
}
